{% extends "factored.html" %}
{% block button %}
    <form action="/room" method="post">
        <button type="submit" class="btn btn-info" id="start" name="start">Start Game</button>
        <button type="button" style="margin-left: 20px;" class="btn btn-success" id="join" name="join">Join Game</button>   
    </form>
{% endblock %}
    
{% block script %}
    <script>
        // when join game button is clicked it redirects to join route
        const join_btn = document.getElementById("join");
        join_btn.onclick = function()
        {
            window.location.href = "/room";
        }
    </script>


{% endblock %}