{% extends "layout.html" %}

{% block title %} home {% endblock %}

{% block main %}
    <br>
    
    <table style="margin: 0 auto">
        <tbody>
            {% for i in range(8) %}
                <tr>
                    {% for j in range(8) %}
                        {% set cell_id = i * 8 + j + 1 %}
                        {% if (j + i) % 2 == 0 %}
                            
                            <td class="board" style="background-color: beige;"><span draggable="true" id="{{cell_id}}"></span></td>
                        {% else %}
                            <td class="board" style="background-color: tan;"><span draggable="true" id="{{cell_id}}"></span></td>
                        {% endif %}

                    {% endfor %}

                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
  
    <div style="text-align: center;">
        <button type="button" class="btn btn-success" id="start"> Start Game</button>
        <button type="button" class="btn btn-danger" style="margin-left: 20px;" id="quit"> Quit Game</button>

    </div>
 <script>
    // populate the board with men
    var total_cells = 64;
    for(let i = 0; i < total_cells; i ++)
    {
        // populate the first 24 cells with black men
        if(i < 24)
        {
            document.getElementById(i + 1).innerHTML= "♟";
        }
        // populate the last 24 cells with green men
        else if(i >= 40)
        {
            document.getElementById(i + 1).innerHTML="♟";
            document.getElementById(i + 1).style.color="green";
        }
    }
    // Add event listener to the start button
    start_btn = document.getElementById("start");
    start_btn.addEventListener("click", function(){
        

    });
    
    
    
    

</script>   

    
{% endblock %}

